<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>反馈</title>
</head>
<body>
<div>
    <div>
        <div class="form-group">
            <label class="control-label col-2">业务</label>
            <div class="col-10">
                <div class="form-control-static text-desc" th:text="${feedbackDTO.businessType.label}">Business type</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-2">反馈内容</label>
            <div class="col-10">
                <div class="form-control-static text-desc" th:text="${feedbackDTO.description}">Description</div>
                <div class="help-block" th:text="'时间：'+${feedbackDTO.creationTime}"></div>
            </div>
        </div>
        <div class="form-group" th:if="${feedbackDTO.user.id != null}">
            <label class="control-label col-2">会员</label>
            <div class="col-10">
                <div class="form-control-static text-desc" th:text="${feedbackDTO.user.username}">Username</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-2">联系人</label>
            <div class="col-10">
                <div class="form-control-static text-desc" th:text="${feedbackDTO.username}">Username</div>
                <div class="form-control-static text-desc" th:if="${feedbackDTO.telephone!=null}" th:text="${feedbackDTO.telephone}">Telephone</div>
                <div class="form-control-static text-desc" th:if="${feedbackDTO.email!=null}" th:text="${feedbackDTO.email}">Email</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-10 col-offset-2">
                <a class="btn btn-default" href="javascript:void(0)" onclick="$.metoo.closeDialog(this)">关闭</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>