<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>编辑商户</title>
    <script type="text/javascript">
        $(function(){
            $('#featureVal').initFeatures();
            $('#picture-upload').fileUploader({
                onSuccess: function (result) {
                    $('#pictureKey').val(result.pictureKey);
                    var $picture = this.siblings('.form-control-picture');
                    if (!$picture.length) {
                        $picture = $('<div class="form-control-picture"><img/></div>');
                        this.after('\n', $picture);
                    }
                    $picture.find('img').attr({src: '/picture/' + result.pictureKey});
                }
            })
        });
    </script>
</head>
<body>
<div>
<form id="merchant-form" th:action="@{save}" enctype="multipart/form-data" th:object="${merchantDTO}" method="post" onsubmit="return false;">
    <div class="form-group">
        <label class="control-label col-2">名称<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="text" th:field="*{name}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">图片<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="file" name="picture" id="picture-upload"/>
            <input type="hidden" id="pictureKey" th:field="*{pictureKey}"/>
            <div class="form-control-picture" th:if="${merchantDTO.pictureKey != null}"><img th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}"/></div>
        </div>
    </div>
    <div class="form-group" th:if="${id == null}">
        <label class="control-label col-2">业务类型<span class="data-required"></span></label>
        <div class="col-10">
            <select class="form-control" th:field="*{businessType}">
                <option th:each="businessType:${businessTypes}"
                        th:value="${businessType.value}" th:selected="${businessType.value eq businessType}"
                        th:text="${businessType.label}">Business type</option>
            </select>
        </div>
    </div>
    <div class="form-group" th:if="${id != null}">
        <label class="control-label col-2">业务类型</label>
        <div class="col-10">
            <div class="form-control-static" th:text="${businessType.label}"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">等级</label>
        <div class="col-10">
            <label th:each="level:${#numbers.sequence(1,5)}">
                <input type="radio" th:field="*{level}" th:value="${level}"/>
                <span th:text="${level}"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">服务</label>
        <div class="col-10">
            <label th:each="feature:${features}">
                <input type="checkbox" name="features" th:value="${feature.value}" th:attr="feature-val=${feature.val}"/>
                <span th:text="${feature.label}"></span>
            </label>
            <input id="featureVal" type="hidden" th:value="${merchantDTO.featureVal}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">介绍</label>
        <div class="col-10">
            <textarea class="form-control" cols="3" th:field="*{introduction}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">特色</label>
        <div class="col-10">
            <textarea class="form-control" cols="3" th:field="*{specialty}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">地址</label>
        <div class="col-10">
            <textarea class="form-control" cols="1" th:field="*{address}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2">联系电话</label>
        <div class="col-10">
            <input class="form-control" type="text" th:field="*{contactPhone}"/>
        </div>
    </div>
    <div class="form-group" th:if="${merchantDTO.id == null}">
        <div class="col-10 col-offset-2">
            <p class="form-control-static">管理员信息</p>
        </div>
    </div>
    <div class="form-group" th:if="${merchantDTO.id == null}">
        <label class="control-label col-2">姓名<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="text" name="manager.username"/>
        </div>
    </div>
    <div class="form-group" th:if="${merchantDTO.id == null}">
        <label class="control-label col-2">邮箱<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="text" name="manager.email"/>
        </div>
    </div>
    <div class="form-group" th:if="${merchantDTO.id == null}">
        <label class="control-label col-2">登录密码<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="password" name="manager.password"/>
        </div>
    </div>
    <div class="form-group" th:if="${merchantDTO.id == null}">
        <label class="control-label col-2">确认密码<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" type="password" name="manager.confirmPassword"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-10 col-offset-2">
            <input type="hidden" th:field="*{id}"/>
            <a class="btn btn-primary" href="javascript:void(0)" onclick="$('#merchant-form').submitWithAjax()">保存</a>
            <a class="btn btn-default" href="javascript:void(0);" onclick="$.metoo.closeDialog(this)">关闭</a>
        </div>
    </div>
</form>
</div>
</body>
</html>