<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/admin" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>商户</title>
</head>
<body>
<div layout:fragment="content">
<table class="table">
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="merchantDTO:${merchantDTOs}">
        <td th:text="${merchantDTO.id}">Id</td>
        <td th:text="${merchantDTO.name}">Name</td>
        <td th:text="${merchantDTO.businessType.label}">Business type</td>
        <td>
            <a th:href="@{edit(id=${merchantDTO.id})}">编辑</a>
            <a th:href="@{remove(id=${merchantDTO.id})}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="add">Add</a>
</div>
</body>
</html>