<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/admin" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>订单</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th>订单编号</th>
            <th>商家</th>
            <th>用户</th>
            <th>商品</th>
            <th>预订数量</th>
            <th>下单时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDTO:${orderDTOs}">
            <td th:text="${orderDTO.id}">Id</td>
            <td th:text="${orderDTO.username}">Username</td>
            <td th:text="${orderDTO.type.label}">Type</td>
            <td th:text="${orderDTO.creationTime}">Creation time</td>
            <td>
                <a th:href="@{detail(id=${orderDTO.id})}">查看</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>