<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/admin" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>
<body>
<div layout:fragment="content">
<table class="table">
    <thead>
    <tr>
        <th>编号</th>
        <th>用户名</th>
        <th>用户类型</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userDTO:${userDTOs}">
        <td th:text="${userDTO.id}">Id</td>
        <td th:text="${userDTO.username}">Username</td>
        <td th:text="${userDTO.type.label}">Type</td>
        <td th:text="${userDTO.creationTime}">Creation time</td>
        <td>
            <a th:href="@{{id}(id=userDTO.id)}">编辑</a>
            <a th:href="@{remove/{id}(id=${userDTO.id})}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Add</a>
</div>
</body>
</html>