<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">米途旅游网</title>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.menu-top').menuControl(); // 选中当前菜单
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body>
<header>
    <section class="container">
        <nav class="menu-top">
            <ul>
                <li><a href="/admin/order">订单</a></li>
                <li><a href="/admin/scenery">景点</a></li>
                <li><a href="/admin/hotel">酒店</a></li>
                <li><a href="/admin/food">美食</a></li>
                <li><a href="/admin/user">用户</a></li>
                <li><a href="/admin/feedback">反馈</a></li>
            </ul>
        </nav>
        <nav class="pull-right" th:if="${session.METOO_USER == null}">
            <span>您好，欢迎访问米途旅游！</span>
            <a href="/login">登录</a>
            <a class="default" th:href="@{/registration}">注册</a>
        </nav>
        <nav class="pull-right" th:if="${session.METOO_USER != null}">
            <span>您好，<span th:text="${session.METOO_USER.username}"></span>！</span>
            <a class="default" href="javascript:void(0)" onclick="logout()">退出</a>
        </nav>
    </section>
</header>
<div class="container" layout:fragment="content"></div>
<footer>
    <div class="container">
        <p>copyright &copy; 2016 米途metoo.com 版权所有</p>
    </div>
</footer>
</body>
</html>