<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">米途旅游网</title>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.menu-top').menuControl(); // 选中当前菜单
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body role="merchant">
<header>
    <section class="container">
        <nav th:text="${session.METOO_USER.merchantName}">米途旅游</nav>
        <nav class="menu-top">
            <ul>
                <li><a href="/merchant/order/list">订单</a></li>
                <li><a href="/merchant/user/list">用户</a></li>
                <li><a href="/merchant/product/list">商品</a></li>
            </ul>
        </nav>
        <nav class="pull-right" th:if="${session.METOO_USER != null}">
            <ul>
                <li><span>您好，<span th:text="${session.METOO_USER.username}"></span>！</span></li>
                <li><a class="default" href="javascript:void(0)" onclick="logout()">退出</a></li>
            </ul>
        </nav>
    </section>
</header>
<div class="container" layout:fragment="content"></div>
<footer>
    <div class="container">
        <p>copyright &copy; 2016 米途metoo.com 版权所有</p>
    </div>
</footer>
</body>
</html>