<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/merchant" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>用户</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${not #lists.isEmpty(merchantUserDTOs)}">
        <table class="table">
            <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>入会时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="merchantUserDTO:${merchantUserDTOs}">
                <td th:text="${merchantUserDTO.id}">Id</td>
                <td th:text="${merchantUserDTO.user.username}">Username</td>
                <td th:text="${merchantUserDTO.creationTime}">Creation time</td>
                <td th:text="${merchantUserDTO.status.label}">Status</td>
                <td>
                    <a href="javascript:void(0)" onclick="$(this).toggleStatus()"
                       th:attr="data-id=${merchantUserDTO.id}" th:text="${merchantUserDTO.status.toggle.label}">Toggle status</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(merchantUserDTOs)}">
        <p class="text-center">没有数据</p>
    </div>
</div>
</body>
</html>