<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/merchant" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>用户</title>
</head>
<body>
<div layout:fragment="content">
    <p class="text-right">
        <a class="btn btn-primary" href="add">Add</a>
    </p>
    <div th:if="${not #lists.isEmpty(userDTOs)}">
        <table class="table">
            <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>用户类型</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userDTO:${userDTOs}">
                <td th:text="${userDTO.id}">Id</td>
                <td th:text="${userDTO.username}">Username</td>
                <td th:text="${userDTO.type.label}">Type</td>
                <td th:text="${userDTO.creationTime}">Creation time</td>
                <td th:text="${userDTO.status.label}">Status</td>
                <td>
                    <a th:href="@{edit(id=${userDTO.id})}">编辑</a>
                    <a href="javascript:void(0)" onclick="$(this).toggleStatus()"
                       th:attr="data-id=${userDTO.id}" th:text="${userDTO.status.toggle.label}">Toggle status</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(userDTOs)}">
        <p class="text-center">没有数据</p>
    </div>
</div>
</body>
</html>