<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>反馈</title>
</head>
<body>
	<div layout:fragment="content">
		<form id="feedback-form" th:action="@{feedback}" th:object="${feedbackDTO}" method="post" onsubmit="return false">
            <div class="form-group">
                <label class="control-label col-2" for="businessType">反馈类型<span class="data-required"></span></label>
                <div class="col-10">
                    <select class="form-control" id="businessType" name="businessType" data-required="true">
                        <option th:each="businessType:${businessTypes}" th:value="${businessType.value}" th:text="${businessType.label}">请选择</option>
                    </select>
                    <p class="help-block">反馈类型</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-2" for="description">问题描述<span class="data-required"></span></label>
                <div class="col-10">
                    <textarea class="form-control" id="description" name="description" cols="5" data-required="true"></textarea>
                    <p class="help-block">内容的字数请控制在10-200字之间</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10 col-offset-2">
                    <p class="form-control-static">请留下您的联系方式，以便米途客服与您联系</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-2" for="username">您的姓名<span class="data-required"></span></label>
                <div class="col-10">
                    <input class="form-control" id="username" name="username" data-required="true"/>
                    <p class="help-block">姓名</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-2" for="telephone">联系电话<span class="data-required"></span></label>
                <div class="col-10">
                    <input class="form-control" id="telephone" name="telephone"/>
                    <p class="help-block">11位数字，且以13，14，15，17，18开头</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-2" for="email">邮箱</label>
                <div class="col-10">
                    <input class="form-control" id="email" name="email"/>
                    <p class="help-block">联系电话、邮箱可选填一项</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-2" for="code">验证码</label>
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control form-control-code" id="code" name="code"/>
                        <span class="input-group-img">
                            <img id="code_pic" th:src="@{/code}" onclick="refreshCode(this)" alt="点击刷新验证码"/>
                        </span>
                    </div>
                    <p class="help-block">手机号、邮箱可选填一项</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10 col-offset-2">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="$('#feedback-form').submitWithAjax();">提交</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>