<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>美食</title>
</head>
<body>
	<div layout:fragment="content">
        <div class="row">
            <div class="col-4" th:each="merchantDTO:${merchantDTOs}">
                <a class="box box-scale" th:href="@{/{location}/{id}(id=${merchantDTO.id},location=${merchantDTO.location})}">
                    <div class="box-pic">
                        <img title="山姆老爹牛排自助馆" th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
                        <div class="box-pic-desc" th:text="${merchantDTO.introduction}">【春熙路】山姆老爹牛排自助馆</div>
                        <em class="box-pic-tag" th:if="${merchantDTO.formattedLevel!=null}" th:text="${merchantDTO.formattedLevel}">免预约</em>
                    </div>
                    <div class="box-title">
                        <span th:text="${merchantDTO.name}">拌饭4选1，建议单人使用，提供免费WiFi</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn" th:text="${merchantDTO.minConsumption}">9.9</span><small>起</small></span>
                    </div>
                </a>
            </div>
        </div>
	</div>
</body>
</html>