<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>美食详情</title>
    <script type="text/javascript">
        $(function(){
            $('.tab').tab();
        });
    </script>
</head>
<body>
<div id="main" layout:fragment="content">
    <h1>山姆老爹牛排自助馆</h1>
    <p>仅售59元！价值85元的单人自助，提供免费WiFi。</p>
    <div class="box box-info">
        <div class="box-pic">
            <img src="/img/food1.jpg"/>
        </div>
        <div class="box-body">
            <p>
                <strong>团购价：</strong>
                <span class="text-large text-highlight price-cn">88</span>
                <span class="text-desc">门店价</span>
                <span class="text-line-through text-desc price-cn">100</span>
            </p>
            <p>
                <strong>有效期：</strong>
                <span class="text-desc">截止到2017.01.06</span>
                <span class="text-highlight">周末、法定节假日通用</span>
            </p>
            <p>
                <strong>套餐：</strong>
                <span class="tag-selectable"><span class="tag tag-selected">代金券88元</span><span class="tag">代金券79元</span></span>
            </p>
            <p>
                <strong>数量：</strong>
                <span class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default">-</button>
                    </span>
                    <input class="form-control form-control-quantity" id="quantity" name="quantity" value="1"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default">+</button>
                    </span>
                </span>
            </p>
            <p>
                <button class="btn btn-primary btn-large">立即抢购</button>
            </p>
        </div>
    </div>
    <div class="tab">
        <ul class="tab-head">
            <li class="tab-menu tab-menu-active"><span>购买须知</span></li>
            <li class="tab-menu"><span>本单详情</span></li>
        </ul>
        <div class="tab-body">
            <div class="tab-content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>有效期</th>
                        <td>2014.7.17 至 2017.1.6（周末、法定节假日通用）</td>
                    </tr>
                    <tr>
                        <th>使用时间</th>
                        <td>11:00-次日06:00,乐山店、群光店、凯德店、龙湖店、金楠天街店营业时间：11:00——22:00；建设路店营业时间：11:00——23:00</td>
                    </tr>
                    <tr>
                        <th>预约提醒</th>
                        <td>无需预约，消费高峰时可能需要等位</td>
                    </tr>
                    <tr>
                        <th>限购限用提醒</th>
                        <td>最多可叠加使用500张<br/>不兑现、不找零</td>
                    </tr>
                    <tr>
                        <th>包间</th>
                        <td>可免费使用包间</td>
                    </tr>
                    <tr>
                        <th>堂食外带</th>
                        <td>仅限堂食，不提供餐前外带，餐毕未吃完可打包，打包费详情咨询商家</td>
                    </tr>
                    <tr>
                        <th>温馨提示</th>
                        <td>
                            加入商家会员，团购消费可纳入积分（详询商家）<br/>
                            团购用户不可同时享受商家其他优惠<br/>
                            酒水饮料等问题，请致电商家咨询，以商家反馈为准</td>
                    </tr>
                    <tr>
                        <th>商家服务</th>
                        <td>提供免费WiFi<br/>
                            停车位收费标准：请咨询商家</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-content">
                <ul>
                    <li>店内人均消费参考价：65元</li>
                    <li>适用范围：全场通用</li>
                    <li>
                        <p>店内部分菜品价格参考：</p>
                        <p>裸斑鱼（115.00元/条）</p>
                        <p>香辣鱿鱼须（48.00元/份）</p>
                        <p>包浆豆腐（28.00元/份）</p>
                        <p>烤茄子（10.00元/份）</p>
                        <p>烤生蚝（9.00元/个）</p>
                        <p>烤扇贝（9.00元/个）</p>
                        <p>芒果绵绵冰（18.00元/份）</p>
                        <p>黑啤（18.00元/扎）</p>
                        <p>金桔茶（8.00元/杯）</p>
                    </li>
                </ul>
                <img src="/img/food1.jpg"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>