<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>美食</title>
</head>
<body>
	<div layout:fragment="content">
        <div class="row">
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="山姆老爹牛排自助馆" src="/img/food1.jpg"/>
                        <div class="box-pic-desc">【春熙路】山姆老爹牛排自助馆</div>
                        <em class="box-pic-tag">免预约</em>
                    </div>
                    <div class="box-title">
                        <span>拌饭4选1，建议单人使用，提供免费WiFi</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">9.9</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="碳来香三国烤肉韩式小火锅欢乐自助风" src="/img/food3.jpg"/>
                        <div class="box-pic-desc">【八宝街】碳来香三国烤肉韩式小火锅欢乐自助风</div>
                        <em class="box-pic-tag">免预约</em>
                        <em class="box-pic-tag">多套餐</em>
                    </div>
                    <div class="box-title">
                        <span>单人自助，提供免费WiFi</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">59</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="烤匠" src="/img/food5.jpg"/>
                        <div class="box-pic-desc">【7店通用】烤匠</div>
                        <em class="box-pic-tag">免预约</em>
                        <em class="box-pic-tag">多套餐</em>
                        <em class="box-pic-tag">代金券</em>
                    </div>
                    <div class="box-title">
                        <span>100元午市代金券1张，全场通用，可免费使用包间</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">79</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="山姆老爹牛排自助馆" src="/img/food1.jpg"/>
                        <div class="box-pic-desc">【春熙路】山姆老爹牛排自助馆</div>
                        <em class="box-pic-tag">免预约</em>
                    </div>
                    <div class="box-title">
                        <span>拌饭4选1，建议单人使用，提供免费WiFi</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">9.9</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="碳来香三国烤肉韩式小火锅欢乐自助风" src="/img/food3.jpg"/>
                        <div class="box-pic-desc">【八宝街】碳来香三国烤肉韩式小火锅欢乐自助风</div>
                        <em class="box-pic-tag">免预约</em>
                        <em class="box-pic-tag">多套餐</em>
                    </div>
                    <div class="box-title">
                        <span>单人自助，提供免费WiFi</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">59</span></span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="box box-scale" th:href="@{/food/{id}(id=1)}">
                    <div class="box-pic">
                        <img title="烤匠" src="/img/food5.jpg"/>
                        <div class="box-pic-desc">【7店通用】烤匠</div>
                        <em class="box-pic-tag">免预约</em>
                        <em class="box-pic-tag">多套餐</em>
                        <em class="box-pic-tag">代金券</em>
                    </div>
                    <div class="box-title">
                        <span>100元午市代金券1张，全场通用，可免费使用包间</span>
                        <span class="pull-right text-primary text-large"><span class="price-cn">79</span></span>
                    </div>
                </a>
            </div>
        </div>
	</div>
</body>
</html>