<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>美食详情</title>
    <script type="text/javascript">
        $(function(){
            $('.tab').tab();
        });
    </script>
</head>
<body>
<div id="main" layout:fragment="content">
    <h1 th:text="${merchantDTO.name}">山姆老爹牛排自助馆</h1>
    <p th:text="${merchantDTO.introduction}">仅售59元！价值85元的单人自助，提供免费WiFi。</p>
    <div class="box box-info">
        <div class="box-pic">
            <img title="山姆老爹牛排自助馆" th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
        </div>
        <div class="box-body" th:if="${productDTO != null}">
            <p>
                <strong>团购价：</strong>
                <span class="text-large text-highlight price-cn" th:text="${productDTO.price}">88</span>
                <span class="text-desc">门店价</span>
                <span class="text-line-through text-desc price-cn" th:text="${productDTO.marketingPrice}">100</span>
            </p>
            <p>
                <strong>有效期：</strong>
                <span class="text-desc" th:text="'截止到'+${productDTO.expiryDate}">截止到2017.01.06</span>
                <span class="text-highlight">周末、法定节假日通用</span>
            </p>
            <p>
                <strong>套餐：</strong>
                <span class="tag-selectable">
                    <a class="tag tag-selected" th:each="p,stat:${productDTOs}"
                       th:href="@{/food/{id}/{productId}(id=${merchantDTO.id},productId=${p.id})}" th:text="${p.name}" th:class="${productDTO.id==p.id}?'tag tag-selected':'tag'">代金券88元</a>
                </span>
            </p>
            <p>
                <a class="btn btn-primary btn-large" th:href="@{/order/{id}(id=${productDTO.id})}">立即抢购</a>
            </p>
        </div>
    </div>
    <div class="tab">
        <ul class="tab-head">
            <li class="tab-menu tab-menu-active"><span>购买须知</span></li>
            <li class="tab-menu"><span>本单详情</span></li>
        </ul>
        <div class="tab-body">
            <div class="tab-content">
                <table class="table table-detail">
                    <tbody>
                    <tr th:each="notice:${productDTO.notices}">
                        <th th:text="${notice.title}">有效期</th>
                        <td th:text="${notice.content}">2014.7.17 至 2017.1.6（周末、法定节假日通用）</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-content" th:text="${productDTO.article}">
                <ul>
                    <li>店内人均消费参考价：65元</li>
                    <li>适用范围：全场通用</li>
                    <li>
                        <p>店内部分菜品价格参考：</p>
                        <p>裸斑鱼（115.00元/条）</p>
                        <p>香辣鱿鱼须（48.00元/份）</p>
                        <p>包浆豆腐（28.00元/份）</p>
                        <p>烤茄子（10.00元/份）</p>
                        <p>烤生蚝（9.00元/个）</p>
                        <p>烤扇贝（9.00元/个）</p>
                        <p>芒果绵绵冰（18.00元/份）</p>
                        <p>黑啤（18.00元/扎）</p>
                        <p>金桔茶（8.00元/杯）</p>
                    </li>
                </ul>
                <img src="/img/food1.jpg"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>