<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>酒店详情</title>
</head>
<body>
<div id="main" layout:fragment="content">
    <h2><span class="medal medal-gold"></span>如家快捷酒店(成都春熙路太古里书院街店)</h2>
	<div class="box box-info">
		<div class="box-pic">
            <img src="/img/hotel1_1.jpg" title="如家快捷酒店"/>
            <div class="price-panel price-panel-left price-panel-overlay">
                <h1><span class="price-cn text-highlight">108</span><small>起</small></h1>
            </div>
		</div>
		<div class="box-body">
			<p>
				<strong>酒店类型：</strong>
				<span>经济型</span>
			</p>
			<p>
				<strong>酒店信息：</strong>
				<span>如家快捷酒店（成都春熙路太古里书院街店）位于市中心锦江区书院西街，与惜字宫南街1号同址，紧邻全国闻名的春熙核心商圈，步行约5分钟即到春熙路商业步行街。酒店周边云集了顶端的太古里、成都国际金融中心IFS、文艺书吧“方所”、王府井百货、太平洋百贷等大型购物中心；遍布酒店周边，还有百余种美食。从酒店出发举步可达地铁2、4号线，去往宽窄巷子、杜甫草堂、锦里、武侯祠等地，都十分方便快捷。这里的客房干净卫生，室内基础设施配置齐全，床上用品每客一换，你可以放心入住，是休闲旅游及商务客人下榻的理想之选。</span>
			</p>
			<p>
				<strong>酒店地址：</strong>
                <span>[天府广场/盐市口商业区]书院西街75号近锦江区政府</span>
			</p>
            <div class="feature-wrapper">
                <span class="feature feature-wifi" title="WIFI"></span>
                <span class="feature feature-wifi-free" title="免费WIFI"></span>
                <span class="feature feature-parking" title="停车场"></span>
                <span class="feature feature-parking-free" title="免费停车场"></span>
                <span class="feature feature-broadband" title="有线宽带"></span>
                <span class="feature feature-broadband-free" title="免费有线宽带"></span>
                <span class="feature feature-restaurant" title="餐厅"></span>
                <span class="feature feature-pet" title="宠物"></span>
                <span class="feature feature-gymnasium" title="健身房"></span>
                <span class="feature feature-meeting" title="会议"></span>
                <span class="feature feature-airport" title="接机服务"></span>
                <span class="feature feature-swimming" title="游泳"></span>
            </div>
        </div>
    </div>
    <div class="tab">
        <ul class="tab-head">
            <li class="tab-menu tab-menu-active"><span>房型</span></li>
        </ul>
        <div class="tab-body">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">床型</th>
                    <th>早餐</th>
                    <th>窗户</th>
                    <th>日均价</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <span>特惠大床房</span><br/>
                        <span class="text-small text-desc">大床(1.5米)|免费有线|最多可住2人|面积15-18㎡|楼层2-4,7-8层</span>
                    </th>
                    <td class="text-center">大床</td>
                    <td class="text-center">无早</td>
                    <td class="text-center">无窗</td>
                    <td class="text-center">108</td>
                    <td class="text-center">
                        <a class="btn btn-highlight btn-multiline" href="">
                            <span class="btn-multiline-tag">现场支付</span>
                            <span>预订</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">
                        <span>特惠商务房</span><br/>
                        <span class="text-small text-desc">大床(1.8米)|免费有线|最多可住2人|面积20-24㎡|楼层2-4,7-8层</span>
                    </th>
                    <td class="text-center">大床</td>
                    <td class="text-center">无早</td>
                    <td class="text-center">有窗</td>
                    <td class="text-center">128</td>
                    <td class="text-center">
                        <a class="btn btn-highlight btn-multiline" href="">
                            <span class="btn-multiline-tag">现场支付</span>
                            <span>预订</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">大床</td>
                    <td class="text-center">有早</td>
                    <td class="text-center">有窗</td>
                    <td class="text-center">148</td>
                    <td class="text-center">
                        <a class="btn btn-highlight btn-multiline" href="">
                            <span class="btn-multiline-tag">现场支付</span>
                            <span>预订</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">
                        <span>特惠双床房</span><br/>
                        <span class="text-small text-desc">双床(1.2米)|免费有线|最多可住2人|面积24-26㎡|楼层2-7层</span>
                    </th>
                    <td class="text-center">双床</td>
                    <td class="text-center">无早</td>
                    <td class="text-center">有窗</td>
                    <td class="text-center">118</td>
                    <td class="text-center">
                        <a class="btn btn-highlight btn-multiline" href="">
                            <span class="btn-multiline-tag">现场支付</span>
                            <span>预订</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>