<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>酒店</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="box box-full box-scale" th:each="merchantDTO:${page.content}">
			<div class="box-pic">
				<img title="如家快捷酒店(成都春熙路太古里书院街店)" th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
			</div>
			<div class="box-body">
				<h3 class="text-primary text-large" th:text="${merchantDTO.name}">如家快捷酒店(成都春熙路太古里书院街店)</h3>
				<p><span class="box-body-tag" th:text="${merchantDTO.formattedLevel}">五星级酒店</span></p>
				<p class="box-body-desc" th:text="${merchantDTO.address}">书院西街75号</p>
				<p class="box-body-desc" th:text="'特色：'+${merchantDTO.specialty}">特色：</p>
				<div class="feature-wrapper">
					<span th:each="feature:${merchantDTO.features}" th:class="${feature.className}" th:title="${feature.label}"></span>
				</div>
			</div>
			<div class="box-foot">
				<p><span class="text-highlight text-large"><span class="price-cn" th:text="${merchantDTO.minConsumption}">108</span><small>起</small></span></p>
				<a th:href="@{/{location}/{id}(id=${merchantDTO.id},location=${merchantDTO.location})}" class="btn btn-highlight">查看详情</a>
			</div>
		</div>
	</div>
</body>
</html>