<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>首页</title>
    </head>
    <body>
        <div layout:fragment="content">
            <section class="slider" id="slider">
                <ul>
                    <li>
                        <a th:href="@{/scenery/{id}(id=1)}">
                            <div class="slide-item" style="background-image: url(/img/ads1.jpg)"></div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/scenery/{id}(id=1)}">
                            <div class="slide-item" style="background-image: url(img/ads2.jpg)"></div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/scenery/{id}(id=1)}">
                            <div class="slide-item" style="background-image: url(img/ads3.png)"></div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/scenery/{id}(id=1)}">
                            <div class="slide-item" style="background-image: url(img/ads4.jpg)"></div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/scenery/{id}(id=1)}">
                            <div class="slide-item" style="background-image: url(img/ads5.jpg)"></div>
                        </a>
                    </li>
                </ul>
                <ol><li></li><li></li><li></li><li></li><li></li></ol>
                <script type="text/javascript">
                    window.slider = new Slider().start();
                </script>
            </section>
            <section>
                <h4 class="text-highlight">人气榜单</h4>
                <div class="row">
                    <div class="col-3" th:each="merchantDTO:${merchantDTOs}">
                        <a class="box box-scale" th:href="@{/{location}/{id}(id=${merchantDTO.id},location=${merchantDTO.location})}">
                            <div class="box-pic">
                                <img th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
                                <div class="box-pic-desc" th:text="${merchantDTO.introduction}"></div>
                                <em class="box-pic-tag" th:if="${merchantDTO.formattedLevel!=null}" th:text="${merchantDTO.formattedLevel}"></em>
                            </div>
                            <div class="box-title">
                                <span th:text="${merchantDTO.name}"></span>
                                <span class="pull-right text-primary text-large"><span class="price-cn" th:text="${merchantDTO.minConsumption}"></span><small>起</small></span>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>