<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>
</head>
<body>
<div>
<form id="password-form" action="/passwordModify" th:object="${userDTO}" method="post" onsubmit="return false">
    <div class="form-group">
        <label class="control-label col-2">邮箱</label>
        <div class="col-10">
            <div class="form-control-static" th:text="${userDTO.email}"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2" for="password">密码<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" id="password" name="password" type="password" placeholder="重设密码"/>
            <div class="help-block">6-20位字符，建议使用数字、字母和符号</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2" for="confirmPassword">确认密码<span class="data-required"></span></label>
        <div class="col-10">
            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="确认密码"/>
            <div class="help-block">请再次输入密码</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-2" for="code">验证码</label>
        <div class="col-10">
            <div class="input-group">
                <input class="form-control form-control-code" id="code" name="code" type="text" placeholder="验证码" data-required="true"/>
                <span class="input-group-img">
                    <img id="code_pic" src="/code" onclick="refreshCode(this)" alt="点击刷新验证码"/>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-10 col-offset-2">
            <input type="hidden" th:field="*{id}"/>
            <a class="btn btn-primary" href="javascript:void(0)" onclick="$('#password-form').submitWithAjax()">保存</a>
            <a class="btn btn-default" href="javascript:void(0)" onclick="$.metoo.closeDialog(this)">关闭</a>
        </div>
    </div>
</form>
</div>
</body>
</html>