<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<title>景点详情</title>
	</head>
	<body>
		<div id="main" layout:fragment="content">
			<div class="box box-info">
				<div class="box-pic">
					<img src="/img/flower1.jpg" title="花舞人间" th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
				</div>
				<div class="box-body">
					<h2>
                        <span th:text="${merchantDTO.name}">花舞人间</span>
						<small class="text-small text-highlight" th:text="${merchantDTO.formattedLevel}">AAAA景区</small>
                    </h2>
					<p class="text-desc" th:text="${merchantDTO.specialty}">四季花开，美出不同的高度</p>
					<p>
						<strong>景点地址：</strong>
						<span th:text="${merchantDTO.address}">四川省成都市新津县新蒲路</span>
					</p>
					<p>
						<strong>开放时间：</strong>
						<span th:text="${merchantDTO.introduction}">
							3月--10月：08:30--18:00；11月--次年2月：8:30--17:30；景区季节划分:旺季：春节(2月8日-2月14日)、3月1日-4月15日、国庆(10月1日-10月7日)。平季：除旺季以外的其他时段。
						</span>
					</p>
					<p>
						<strong>服务保障：</strong>
						<span class="tag">入园保障</span>
						<span class="tag">快速入园</span>
					</p>
					<div class="price-panel price-panel-right price-panel-highlight">
                        <h1><span class="price-cn" th:text="${merchantDTO.minConsumption}">29.9</span><small>起</small></h1>
						<p>票面价：<span class="text-line-through price-cn" th:text="${merchantDTO.ticketPrice}">80</span>&nbsp;<span>3.8折起</span></p>
					</div>
				</div>
			</div>
			<div class="tab">
				<ul class="tab-head">
					<li class="tab-menu tab-menu-active"><span>景点门票</span></li>
				</ul>
				<div class="tab-body">
                    <table class="table table-detail">
                        <thead>
                        <tr>
                            <th colspan="2">产品</th>
                            <th>米途价</th>
                            <th>门市价</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productDTO:${productDTOs}">
                            <th th:text="${productDTO.category.name}">成人票</th>
                            <td>
                                <p th:text="${productDTO.name}"><span class="text-default">[单票]</span>花舞人间成人票</p>
                            </td>
                            <td class="text-center price-cn text-highlight" th:text="${productDTO.price}">72</td>
                            <td class="text-center price-cn" th:text="${productDTO.marketingPrice}">80</td>
                            <td class="text-center">
                                <a class="btn btn-highlight btn-multiline" th:href="@{/order/{id}(id=${productDTO.id})}">
                                    <span class="btn-multiline-tag">现场支付</span>
                                    <span>预订</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</body>
</html>