<!DOCTYPE html>
<html lang="en" layout:decorator="decorators/homepage" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>景点</title>
</head>
<body>
	<section layout:fragment="content">
        <div class="box box-full box-scale" th:each="merchantDTO:${page.content}">
            <div class="box-pic">
                <img title="花舞人间" th:src="@{/picture/{pictureKey}(pictureKey=${merchantDTO.pictureKey})}" th:title="${merchantDTO.name}"/>
            </div>
            <div class="box-body">
                <h3 class="text-primary text-large">
                    <span th:text="${merchantDTO.name}">花舞人间</span>
                    <small th:if="${merchantDTO.address!=null}" th:name="'['+${merchantDTO.address}+']'">[四川.成都]</small>
                </h3>
                <p><span class="box-body-tag" th:text="${merchantDTO.formattedLevel}">AAAA景点</span></p>
                <p class="box-body-desc" th:text="'地址：'+${merchantDTO.address}">地址：四川省成都市新津县新蒲路</p>
                <p class="box-body-desc" th:text="'特色：'+${merchantDTO.specialty}">特色：四季花开，美出不同的高度</p>
            </div>
            <div class="box-foot">
                <p><span class="text-highlight text-large"><span class="price-cn" th:text="${merchantDTO.minConsumption}">72</span><small>起</small></span></p>
                <a th:href="@{/{location}/{id}(id=${merchantDTO.id},location=${merchantDTO.location})}" class="btn btn-highlight">查看详情</a>
            </div>
        </div>
    </section>
</body>
</html>